/* semantic color variables for this project */
:root {
    --col-background: #575a68;
    --col-on-background: #ffffff;

    --col-background-var: #d8d4d9;
    --col-on-background-var: #575a68;

    --col-title: #5a81bc;

    --col-content: #ffffff;
    --col-shadow: rgba(0, 0, 0, 0.25);

    --col-primary: #59C2EA;
    --col-on-primary: #ffffff;

    --col-secondary: #ed6449;
    --col-on-secondary: #ffffff;

    --dim-corners: 40px;
    --dim-small: 10px;
    --dim-regular: 20px;
    --dim-large: 40px;
    --dim-btn: 130px;

    --sdw-inside: inset 3px 6px 8px var(--col-shadow);
    --sdw-regular: 0 4px 4px var(--col-shadow);

    --fnt-sze-title-main: 54px;
    --fnt-sze-title: 62px;
    --fnt-sze-regular: 25px;

    --fnt-title: "Play", sans-serif;
    --fnt-regular: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    font: var(--fnt-regular);
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--col-background);
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

h1 {
    font-size: var(--fnt-sze-title);
    text-shadow: var(--sdw-regular);
}

h1, h2, h3 {
    font-family: var(--fnt-title);
    font-weight: 700;
    color: var(--col-title);
    text-align: center;
}

.box {
    background-color: var(--col-background);
    border-radius: var(--dim-corners);
    box-shadow: var(--sdw-inside);
}

.box * {
    color: var(--col-on-background);
}

p {
    font-size: var(--fnt-sze-regular);
}
