/* semantic color variables for this project */
:root {
    --col-background: #575a68;
    --col-content: #ffffff;
    --col-shadow: rgba(0, 0, 0, 0.25);
    --col-btn-primary: #59C2EA;
    --col-on-btn-primary: #ffffff;
    --col-btn-secondary: #ed6449;
    --col-on-btn-secondary: #ffffff;
    --col-input-background: #d8d4d9;
    --col-input: #575a68;

    --dim-corners: 40px;
    --dim-small: 10px;
    --dim-regular: 20px;
    --dim-large: 40px;
    --dim-btn: 130px;

    --sdw-inside: inset 3px 6px 8px var(--col-shadow);
    --sdw-regular: 0 4px 4px var(--col-shadow);

    --fnt-sze-title-main: 54px;
    --fnt-sze-title: 62px;
    --fnt-sze-label: 20px;

    --fnt-btn: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--col-background);
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

h1 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: var(--fnt-sze-title);
    text-align: center;
    color: #5a81bc;
    text-shadow: var(--sdw-regular);
}
